body {
    background-color: #a8dadc;
    color: #1d3557;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 302px;
    justify-content: center;
}

title {
    justify-content: center;
}

h3 {
    text-align: center;
}

#form-section {
    display: flex;
    width: 75%;
    margin: auto;
    flex-direction: column;
}

select {
    background-color: #f1faee;
    border: 1px solid #1d3557;
}

#search-btn {
    background-color: #1d3557;
    color: #a8dadc;
    border: 1px solid #1d3557dc;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

#test-label {
    margin-bottom: 5px;
}

#test {
    margin-top: 5px;
    margin-bottom: 10px;
}

#bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-btn {
    margin-top: 10px;
}

#results-el {
    font-weight: bold;
    margin-top: 20px;
}

#physName {
    color: #3c096c;
    font-weight: bold;
    margin-top: 0px;
}